Biograf_Booking_Client/Connected Services/PersonService/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biograf_Booking_Server.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetEmployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeById" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetEmployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_LogOn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOn" />
  </wsdl:message>
  <wsdl:message name="IPersonService_LogOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOnResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetAllMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMovies" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetAllMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovie" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_FindHalls_InputMessage">
    <wsdl:part name="parameters" element="tns:FindHalls" />
  </wsdl:message>
  <wsdl:message name="IPersonService_FindHalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindHallsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_FindAllReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllReservations" />
  </wsdl:message>
  <wsdl:message name="IPersonService_FindAllReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_FindReservationById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindReservationById" />
  </wsdl:message>
  <wsdl:message name="IPersonService_FindReservationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindReservationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_InsertReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertReservation" />
  </wsdl:message>
  <wsdl:message name="IPersonService_InsertReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_FindSeatsByHallId_InputMessage">
    <wsdl:part name="parameters" element="tns:FindSeatsByHallId" />
  </wsdl:message>
  <wsdl:message name="IPersonService_FindSeatsByHallId_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindSeatsByHallIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_LoginCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginCustomer" />
  </wsdl:message>
  <wsdl:message name="IPersonService_LoginCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetEmployees" message="tns:IPersonService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetEmployeesResponse" message="tns:IPersonService_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetCustomers" message="tns:IPersonService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetCustomersResponse" message="tns:IPersonService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetEmployeeById" message="tns:IPersonService_GetEmployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetEmployeeByIdResponse" message="tns:IPersonService_GetEmployeeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/LogOn" message="tns:IPersonService_LogOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/LogOnResponse" message="tns:IPersonService_LogOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetAllMovies" message="tns:IPersonService_GetAllMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetAllMoviesResponse" message="tns:IPersonService_GetAllMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetMovie" message="tns:IPersonService_GetMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetMovieResponse" message="tns:IPersonService_GetMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindHalls">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/FindHalls" message="tns:IPersonService_FindHalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/FindHallsResponse" message="tns:IPersonService_FindHalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllReservations">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/FindAllReservations" message="tns:IPersonService_FindAllReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/FindAllReservationsResponse" message="tns:IPersonService_FindAllReservations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindReservationById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/FindReservationById" message="tns:IPersonService_FindReservationById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/FindReservationByIdResponse" message="tns:IPersonService_FindReservationById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/InsertReservation" message="tns:IPersonService_InsertReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/InsertReservationResponse" message="tns:IPersonService_InsertReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindSeatsByHallId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/FindSeatsByHallId" message="tns:IPersonService_FindSeatsByHallId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/FindSeatsByHallIdResponse" message="tns:IPersonService_FindSeatsByHallId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/LoginCustomer" message="tns:IPersonService_LoginCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/LoginCustomerResponse" message="tns:IPersonService_LoginCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonService" type="tns:IPersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeById">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetEmployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOn">
      <soap:operation soapAction="http://tempuri.org/IPersonService/LogOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindHalls">
      <soap:operation soapAction="http://tempuri.org/IPersonService/FindHalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllReservations">
      <soap:operation soapAction="http://tempuri.org/IPersonService/FindAllReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindReservationById">
      <soap:operation soapAction="http://tempuri.org/IPersonService/FindReservationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertReservation">
      <soap:operation soapAction="http://tempuri.org/IPersonService/InsertReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindSeatsByHallId">
      <soap:operation soapAction="http://tempuri.org/IPersonService/FindSeatsByHallId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCustomer">
      <soap:operation soapAction="http://tempuri.org/IPersonService/LoginCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="BasicHttpBinding_IPersonService" binding="tns:BasicHttpBinding_IPersonService">
      <soap:address location="http://localhost:2112/PersonService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>